*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    
    align-items: center;
    justify-content:center;
    height: 100%;
    gap: 10px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.social-icon i {
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* le back color des sections icons*/ 

.facebook { 
    background: #3b5998; 
}
.twitter { 
    background: #00acee;
}
.instagram { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.whatsapp {background: #25D366;
}