*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"Quick" ;
    src: url(/font/Quick.ttf)format(Truetype);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(209, 209, 209);
}

h1{
    font-family:"Quick" ;
    font-weight:900;
}

p{
    font-family:"Quick" ;
    font-weight: 900;
}
.container{
    display: flex;
    
    align-items: center;
    justify-content:center;
    height: 100%;
    gap: 23px;
}

.social-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    filter: grayscale(1);
    transition:ease-in-out 0.6s;
}

.social-icon i {
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name{
    display: flex;
    position: absolute;
    opacity: 0;
    transition: 0.9s ;
    
}
/* le back color des sections icons*/ 

.facebook{ 
    background: #3b5998; 
}
.twitter { 
    background: #00acee;
}
.instagram { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.whatsapp {background: #25D366;
}
.youtube { background:#FD1D1D;
}

.facebook p { 
    color: #3b5998; 
    
}
.twitter p { 
    color: #00acee; 
    
}
.instagram p { 
    color: #c1356b;
    
}
.whatsapp p { 
    color: #25D366; 
    
}
.youtube p { 
    color: #FD1D1D; 
    
}

/* transitions */

.social-icon:hover {
    filter: grayscale(0);
    border-radius: 50%;
}
.social-icon:hover #name {
    transform: translateY(-75px);
    opacity: 1;
}